* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  font: inherit;
  color: inherit;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
    flex-shrink: 0;
  }
}

:root,
body,
#app {
  height: 100%;
}
:root {
  background-color: #f4f4fa;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
#app {
  display: flex;
  align-items: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
